In [28]:
import pandas as pd

In [29]:
df = pd.read_csv('adult.data', header=None, names=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income'])
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [30]:
# Задание 1 - Число столбцов в наборе данных
print(f"Число столбцов: {len(df.columns)}")

Число столбцов: 15

In [31]:
# Задание 2 - Есть ли пропуски в данных? Если есть, то в каких столбцах
empty_columns = []
for column in df.columns:
    if df[column].isin([" ?"]).any(): empty_columns.append(column)
if len(empty_columns) == 0:
    print("В данных нет пропусков")
else:
    print("Пропуски есть в столбцах: ")
    for column in empty_columns:
        print(column)

Пропуски есть в столбцах:
workclass
occupation
native-country

In [32]:
#Задание 3 - Кол-во уникальных значений в столбце race
print(f"Количествово уникальных значений в столбце race - {df['race'].nunique()}")

Количествово уникальных значений в столбце race - 5

In [33]:
#Задание 4 - Медиана hours-per-week
print(f"Медиана hours-per-week - {df['hours-per-week'].median()}")

Медиана hours-per-week - 40.0

In [34]:
#Задание 5 - Кого больше - женщин или мужчин с ЗП >50K?
Income = df['income'] == ' >50K'
Men = df[Income]['sex'].value_counts()[' Male']
Women = df[Income]['sex'].value_counts()[' Female']
if Men > Women:
    print("Мужчин с ЗП > 50K больше")
elif Women > Men:
    print("Женщин с ЗП > 50K больше")
else:
    print("Мужчин и женщин с ЗП >50K поровну")

Мужчин с ЗП > 50K больше

In [41]:
#Задание 6 - Заполните пропущенные данные в отдельных столбцах наиболее встречаемыми значениями. Как еще можно было бы заполнить пропущенные данные?
columns = ['workclass', 'occupation', 'native-country']
for column in columns:
    col = df[column].mode()[0]
    print(f"Самое популярное значение в столбце {column} - {col}")
    df.loc[df[column] == " ?", column] = col

Самое популярное значение в столбце workclass -  Private
Самое популярное значение в столбце occupation -  Prof-specialty
Самое популярное значение в столбце native-country -  United-States

In [40]:
#Проверка на заполненность столбцов
empty_columns = []
for column in df.columns:
    if df[column].isin([" ?"]).any(): empty_columns.append(column)
if len(empty_columns) == 0:
    print("В данных нет пропусков")
else:
    print("Пропуски есть в столбцах: ")
    for column in empty_columns:
        print(column)

В данных нет пропусков

In [42]:
print("Ответы на задания: ")
print("Задание 1 - Число столбцов: 15")
print("Задание 2 - Количествово уникальных значений в столбце race - 5")
print("Задание 3 - Количествово уникальных значений в столбце race - 5")
print("Задание 4 - Медиана hours-per-week - 40.0")
print("Задание 5 - Мужчин с ЗП > 50K больше")
print("Задание 6 - Можно было использовать функцию replace(), а моду посчитать вручную, не используя встроенные функции")

Ответы на задания:
Задание 1 - Число столбцов: 15
Задание 2 - Количествово уникальных значений в столбце race - 5
Задание 3 - Количествово уникальных значений в столбце race - 5
Задание 4 - Медиана hours-per-week - 40.0
Задание 5 - Мужчин с ЗП > 50K больше
Задание 6 - Можно было использовать функцию replace(), а моду посчитать вручную, не используя встроенные функции